@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0c0c0c;
color:white;
overflow-x:hidden;
}



/* NAVBAR */

.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(0,0,0,0.6);
z-index:1000;
}

.logo{
font-size:22px;
font-weight:700;
letter-spacing:3px;
}

.navbar nav{
display:flex;
gap:40px;
}

.navbar a{
text-decoration:none;
color:white;
}



/* HERO */

.hero{
height:100vh;
background:url("background.jpg") center/cover no-repeat;
display:flex;
align-items:center;
padding:0 10%;
position:relative;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.55);
}

.hero-content{
position:relative;
max-width:650px;
}

.hero h1{
font-size:70px;
margin-bottom:20px;
}

.hero h3{
font-size:22px;
margin-bottom:20px;
}

.btn{
display:inline-block;
margin-top:25px;
padding:12px 28px;
background:white;
color:black;
border-radius:6px;
text-decoration:none;
}



/* STORY */

.story{
padding:120px 10%;
}

.story-container{
display:flex;
gap:80px;
align-items:center;
}

.story-text h2{
font-size:48px;
margin-bottom:20px;
}

.story-text p{
margin-bottom:15px;
opacity:0.85;
}

.story-image img{
width:320px;
border-radius:14px;
}



/* QUOTE SECTION */

.quote-section{
background:#0f0f0f;
padding:120px 0;
display:flex;
justify-content:center;
align-items:center;
}

.quote-slider{
display:flex;
align-items:center;
gap:40px;
max-width:900px;
}

.quote-box{
text-align:center;
width:700px;
}

/* EACH QUOTE BLOCK */

.quote-item{
display:none;
}

.quote-item.active{
display:block;
}

.quote{
font-size:34px;
font-weight:500;
line-height:1.5;
}

.author{
margin-top:18px;
font-size:18px;
opacity:0.7;
}



/* ARROWS */

.arrow{
background:#222;
border:none;
color:white;
font-size:26px;
width:55px;
height:55px;
border-radius:50%;
cursor:pointer;
display:flex;
align-items:center;
justify-content:center;
transition:0.3s;
}

.arrow:hover{
background:#444;
transform:scale(1.08);
}

/* FOOTER */

.footer{
text-align:center;
padding:40px;
opacity:0.6;
}



/* RESPONSIVE */

@media(max-width:900px){

.hero h1{
font-size:45px;
}

.story-container{
flex-direction:column;
text-align:center;
}

.story-image img{
width:250px;
}

}
