html{
scroll-behavior:smooth;
}

body{
margin:0;
font-family:'Poppins',sans-serif;
color:white;
}

<header class="navbar">

<div class="logo">ART</div>

<nav>
<a href="index.html">Home</a>
<a href="interests.html">Interests</a>
<a href="resume.html">Resume</a>
<a href="connect.html">Connect</a>
</nav>

</header>

/* HERO */

.hero{
height:100vh;
background:url("background.jpg") center/cover no-repeat;
position:relative;
display:flex;
align-items:center;
}

.overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.45);
}

.hero-container{
position:relative;
z-index:2;
padding:0 7%;
}

.hero-text{
max-width:520px;
}

.intro{
font-size:18px;
opacity:0.85;
}

.hero-text h1{
font-size:48px;
line-height:1.15;
margin:10px 0 20px 0;
}

.tagline{
font-size:20px;
margin-bottom:15px;
}

.subtext{
opacity:0.8;
margin-bottom:30px;
}

.button{
padding:12px 28px;
background:white;
color:black;
text-decoration:none;
border-radius:8px;
}

.scroll-indicator{
position:absolute;
bottom:30px;
left:50%;
transform:translateX(-50%);
opacity:0.7;
}

/* STORY */

.story{
background:#0f0f0f;
padding:120px 7%;
}

.story-layout{
display:grid;
grid-template-columns:1fr 300px;
gap:120px;
align-items:center;
max-width:1100px;
margin:auto;
}

.story-text h2{
font-size:36px;
margin-bottom:20px;
}

.story-text p{
line-height:1.8;
margin-bottom:20px;
}

.story-image img{
width:260px;
border-radius:12px;
box-shadow:0 20px 40px rgba(0,0,0,0.6);
}

/* QUOTES SECTION */

.quotes{
background:#0f0f0f;
padding:120px 10%;
text-align:center;
}

.quote-container{
display:flex;
align-items:center;
justify-content:center;
gap:40px;
max-width:900px;
margin:auto;
}

.quote-box{
max-width:650px;
padding:40px;
background:#151515;
border-radius:12px;
box-shadow:0 0 30px rgba(0,0,0,0.5);
transition:0.4s;
}

.quote-box p{
font-size:26px;
line-height:1.6;
margin-bottom:15px;
color:#ffffff;
}

.quote-box span{
font-size:15px;
opacity:0.7;
color:#9ecfff;
}

.arrow{
background:#1c1c1c;
color:white;
border:none;
width:50px;
height:50px;
border-radius:50%;
font-size:20px;
cursor:pointer;
transition:0.3s;
}

.arrow:hover{
background:#2f7ea4;
}
